
*.dSYM/
*.o
*.so.*
*.su
activemq-data/
*.py[codz]
*.tfstate.*
dist/
logs
.Python
share/python-wheels/
env/
*.spec
build/Release
*.pid.lock
.vscode-test
wheels/
.cache/
build/
!.yarn/sdks
sdist/
.env.*
.pdm-python
.spyproject
dmypy.json
.terraform/
*.obj
.yarn/*
celerybeat.pid
out
*.sage.py
.ruff_cache/
.streamlit/secrets.toml
*.cmd
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
*.lib
var/
.dmypy.json
*.pot
*.hex
*_override.tf.json
parts/
*.elf
**/.vitepress/dist
.tern-port
*.pdb
docs/_build/
node_modules/
.venv
dist
.tox/
cover/
*.idb
*.log
*.la
web_modules/
lib-cov
__marimo__/
override.tf
__pypackages__/
pip-log.txt
!.yarn/releases
.webassets-cache
.tmp_versions/
.temp
venv/
downloads/
*.mod*
*.cover
.mypy_cache/
.parcel-cache
.ipynb_checkpoints
*.exp
.eslintcache
htmlcov/
!.env.example
celerybeat-schedule
.lock-wscript
.pytype/
.docusaurus
lerna-debug.log*
.terraform.tfstate.lock.info
*.x86_64
target
!.yarn/plugins
.env
mnesia/
.serverless/
__pycache__/
local_settings.py
.dynamodb/
.grunt
.firebase/
*.lcov
.svelte-kit/
*.app
.npm
.pytest_cache/
*.tfvars.json
*.out
pip-delete-this-directory.txt
.stylelintcache
marimo/_static/
.ropeproject
vite.config.js.timestamp-*
lib64/
terraform.rc
develop-eggs/
.yarn-integrity
.pypirc
override.tf.json
*.dylib
crash.log
target/
*.py.cover
*.gch
.pixi
yarn-error.log*
.spyderproject
*.egg-info/
!.yarn/patches
*.manifest
*.tgz
**/.vitepress/cache
*.egg
*_override.tf
.hypothesis/
debug
*.tfstate
**/mutants.out*/
dkms.conf
jspm_packages/
*.tsbuildinfo
.next
.nyc_output
yarn-debug.log*
!.yarn/versions
profile_default/
.envrc
cython_debug/
env.bak/
/vendor/
.pnp.*
*.lo
*.exe
MANIFEST
*.aof
.abstra/
*.ilk
.scrapy
.pdm-build/
.eggs/
.vite/
*.rdb
.terraformrc
*.tfvars
rabbitmq/
instance/
*.pch
.coverage.*
modules.order
composer.phar
Module.symvers
*.dwo
*$py.class
ENV/
/site
.pyre/
.node_repl_history
lib/
nosetests.xml
npm-debug.log*
Mkfile.old
eggs/
bower_components
.output
*.so
coverage
vite.config.ts.timestamp-*
db.sqlite3-journal
.fusebox/
venv.bak/
*.ko
*.pid
*.map
*.d
crash.*.log
coverage.xml
*.a
.coverage
*.mo
.nuxt
.vuepress/dist
.cache
pids
**/*.rs.bk
.nox/
marimo/_lsp/
.pybuilder/
*.dll
*.seed
.installed.cfg
db.sqlite3
ipython_config.py
*.i*86
rabbitmq-data/
# REFNOTE: created by technomantic spirit with selective ignorance and artistical resonance of the Saint Mission of Technomancers
# REFNOTE: this file (./.gitignore) was generated by selective_ignorance.sh 2025 by Sett Sarverott (https://gist.github.com/Sarverott/a9933eea3dd0e4fc54e8ff275bd79dcf under terms of CC BY-ND 4.0)
# REFNOTE: based on resources delivered from gitignore repo with templates by Github (https://github.com/github/gitignore under terms of CC0-1.0)
# REFNOTE: content of file have to contain this information REFNOTE to show respect for work of authors that gave opportunity to create this file
# REFNOTE: by casting spell `bash git python,node,GitBook,GitHubPages,GitHubPages,Terraform,rust,composer,c,cmake,appengine` for https://github.com/The-Apokryf/webdev-omnitoolkit.git with  [UNIXUSAT=1765368090377]
# REFNOTE: best regards and with goodluck charm casting
# REFNOTE:    ~Apokryf Institute of Technomantic Research
